<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 配置不拦截的资源 -->
    <http pattern="/*.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/seller/add.do" security="none"/>
    
	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_SELLER"/>
		<form-login login-page="/shoplogin.html" default-target-url="/admin/index.html" authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>
		<!-- 关闭跨域请求 -->
		<csrf disabled="true"/>
		<!-- 注销 -->
		<logout invalidate-session="true" logout-url="/logout" logout-success-url="/shoplogin.html" />
		<headers>
		<!-- 放行框架 -->
			<frame-options policy="SAMEORIGIN"/>
		</headers>
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userService">
			<password-encoder ref="passwordEncoder"></password-encoder>
			<!-- <user-service>
				<user name="admin" password="1234" authorities="ROLE_ADMIN"/>
				<user name="lisi" password="1234" authorities="ROLE_ADMIN"/>
			</user-service> -->
		</authentication-provider>
	</authentication-manager>
	
	
	<beans:bean id="userService" class="com.pinyougou.service.UserDetailsServiceImpl">
		<beans:property name="sellerService" ref="sellerService"></beans:property>
	</beans:bean>
	
	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pinyougou-shop-web" />
	<dubbo:registry address="zookeeper://192.168.25.130:2181"/>
	<dubbo:reference id="sellerService" interface="com.pinyougou.sellergoods.service.SellerService" ></dubbo:reference>
	
	
	<!-- 切换成数据库中的用户名和密码  ——认证管理器-->
    <!-- <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            配置加密的方式
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager> -->
    
     <!-- 配置加密类 -->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
		
</beans:beans>